body{

    margin: 0;
    padding: 0;
    background: url(/assets/background.png) no-repeat;
    background-size: cover;

}

.box{

    
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    font-family: 'MinecraftiaRegular';
    color: white;
    border-radius: 100px;

}

.box-image{

    border-radius: 50%;
    width: 200px;
    height: 200px;

}

.box h1{

    font-size: 33px;
    letter-spacing: 1px;
    margin-top: -15px;
    font-weight: 100;

}

.portugal{

    height: 35px;
    margin-top: 13px;
    margin-bottom: -3px;
    margin-left: -7px;

}

.box h3{

    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: -5%;

}

.box p{

    text-align: center;
    margin-top: 10%;
    line-height: 35px;

}

ul{
    
    margin: 0;
    padding: 0;
    margin-top: -10%;

}

.box li{

    display: inline-block;
    margin: 6px;
    list-style: none;

}

.box li a{

    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;

}

.box li a:hover{

    color: #b9b9b9;

}
